<div class="article-dual-column">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1 pulse animated">
                <div class="intro">
                    <h1 class="text-center">Title of Blog</h1>
                    <p class="text-center"><span class="by">by</span> <a href="#" data-bs-hover-animate="pulse">Liwa Dladloti</a><span class="date">Date</span></p><img class="img-fluid" src="assets/img/desk.jpg"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-lg-3 offset-md-1">
                <div class="toc">
                    <p>Table of Contents</p>
                    <ul>
                        <li><a href="#">Aliquam In Arcu </a> </li>
                        <li><a href="#">Ut vehicula rhoncus</a></li>
                        <li><a href="#">Lorem Ipsum </a> </li>
                        <li><a href="#">Dolor sit amet</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                <div class="text">
                   this is a test 
                   to see if thus works 
                </div>
            </div>
        </div>
    </div>
</div>
