    <div class="pulse animated contact-clean">
        <form method="post">
            <h2 class="text-center">Contact us</h2>
            <div class="form-group"><input class="form-control" type="text" name="subject" placeholder="Subject"></div>
            <div><input class="form-control" type="email" name="email" placeholder="Email"></div><br>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send</button></div>
        </form>
    </div>